body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
ul{
    background-color: lightgray;
    list-style: none;
    display: flex;
    justify-content: space-around;
     }
ul li{
    color: black;
    display: inline-block;
    padding bottom:0px ;
    
    height vertical: 1px;
   }
a{
 text-decoration: none;
 color: black;
}
h1{
    color: gray;
    align-content: center;
}
h4{
    align-content: center;
    background-color: white;
    height: 80px;
}